---
import BaseLayout from "../../layouts/base.astro";
import PaymentsList from "../../components/payments/PaymentsList.astro";
---

<BaseLayout title="Pyaments by invoice id">
  <h1>Payments</h1>
  <PaymentsList />
</BaseLayout>
