---
import Suspense from "../shared/Suspense.astro";
import db, { Database } from "./../../app/db";
import { pause } from "./../../lib/utils/time";

async function getClients(db: Database): Promise<any[]> {
  return new Promise((resolve) => {
    db.all("SELECT * FROM clients", [], function (err, rows) {
      console.log(rows);

      resolve(rows);
    });
  });
}
---

<Suspense>
  <div slot="fallback">Loading...</div>

  <Fragment slot="component">
    {
      pause(3000)
        .then(() => getClients(db))
        .then((result) => {
          return (
            <ul id="clientsList" style="visibility: hidden">
              {result.map((client) => (
                <li>
                  <a href={`/invoices/${client.client_id}`}>{client.name}</a>
                </li>
              ))}
            </ul>
          );
        })
    }
  </Fragment>
</Suspense>
