---
import Suspense from "../shared/Suspense.astro";
import { pause } from "../../lib/utils/time";
import db, { Database } from "../../app/db";

function getInvoices(db: Database, clientId: string): Promise<any[]> {
  return new Promise((resolve, reject) => {
    return db.all(
      "SELECT invoice_id, number FROM invoices WHERE client_id = ?",
      clientId,
      (err, rows) => {
        if (err) {
          console.log(err);
          reject(err);
          return;
        }

        console.log(rows);
        resolve(rows as any[]);
      }
    );
  });
}
---

<Suspense>
  <div slot="fallback">Loading...</div>

  <Fragment slot="component">
    {
      pause(3000)
        .then(() => getInvoices(db, Astro.params.client as string))
        .then((result) => {
          return (
            <ul id="invoicesList" class="hidden">
              {result.map((invoice) => (
                <li>
                  <a href={`/payments/${invoice.invoice_id}`}>
                    {invoice.number}
                  </a>
                </li>
              ))}
            </ul>
          );
        })
    }
  </Fragment>
</Suspense>
