---
import BaseLayout from "../layouts/base.astro";
import ClientList from "../components/clients/ClientList.astro";

export const prerender = true;

const title = "Invoices";
---

<BaseLayout title={title}>
  <h1>{title}</h1>

  <ClientList />
</BaseLayout>
