---
import BaseLayout from "../../layouts/base.astro";
import InvoicesList from "../../components/invoices/InvoicesList.astro";
---

<BaseLayout title="Invoice by id">
  <h1>Payments</h1>
  <InvoicesList />
</BaseLayout>
