---
import { pause } from "../../lib/utils/time";
import db, { Database } from "../../app/db";

function getPayments(db: Database, invoiceId: string): Promise<any[]> {
  return new Promise((resolve, reject) => {
    return db.all(
      "SELECT date, name AS payment FROM payments INNER JOIN payment_methods ON payments.payment_method = payment_methods.payment_method_id WHERE invoice_id = ?",
      invoiceId,
      (err, rows) => {
        if (err) {
          console.log(err);
          reject(err);
          return;
        }

        console.log(rows);
        resolve(rows as any[]);
      }
    );
  });
}
---

<div>
  <div id="paymentsListLoading">Loading...</div>
  {
    pause(3000)
      .then(() => getPayments(db, Astro.params.invoice as string))
      .then((result) => {
        return (
          <ul id="paymentsList" class="hidden">
            {result.map((invoice) => (
              <li>
                {invoice.date}, {invoice.payment}
              </li>
            ))}
          </ul>
        );
      })
  }
</div>

<style>
  .hidden {
    visibility: hidden;
  }
</style>

<script>
  const loadingIndicator = document.getElementById("paymentsListLoading");
  const paymentsList = document.getElementById("paymentsList");

  loadingIndicator.parentElement.removeChild(loadingIndicator);
  paymentsList.classList.toggle("hidden");
</script>
